---
import { Image } from "astro:assets";
import Logo from "@assets/shared/desktop/logo-dark.png";
---

<header class="header">
  <p class="header__image"><Image src={Logo} alt="Designo" /></p>
</header>
